<div class="tabs">
    <button class="tablinks" onclick="openTab(event, 'Tab1')">Configuration</button>
    <button class="tablinks" onclick="openTab(event, 'Tab2')">Log</button>
</div>
<div id="Tab1" class="shopimind-form general-block-decorator tabcontent active">
    <h1>{intl d='shopimind' l='Configuration of ShopiMind module'}</h1>

    {form name=Shopimind\Form\ShopimindForm::getName()}
    <form method="post" action="{url path='/admin/module/shopimind/configuration'}" {form_enctype form=$form}>
        {form_hidden_fields form=$form}

        {form_field form=$form field="isNotConnected"}
            {if $value ne ''}
            <div class="msg errorMsg">{intl d='shopimind' l=$value}</div>
            {/if}
        {/form_field}

        {form_field form=$form field="successMsg"}
            {if $value ne ''}
            <div class="msg successMsg">{intl d='shopimind' l=$value}</div>
            {/if}
        {/form_field}

        {form_field form=$form field="errorMsg"}
            {if $value ne ''}
            <div class="msg errorMsg">{$value}</div>
            {/if}
        {/form_field}

        <div class="form-group">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='API Id'}</label>
            {form_field form=$form field="api-id" class="switch"}
                <input type="text" name="shopimind_form_shopimind_form[api-id]" value="{$data}" class="form-control ">
            {/form_field}
        </div>

        <div class="form-group">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='API password'}</label>
            {form_field form=$form field="api-password" class="switch"}
                <input type="password" name="shopimind_form_shopimind_form[api-password]" value="{$data}" class="form-control ">
            {/form_field}
        </div>

        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Use real-time synchronization'}</label>
            <div>
                {form_field form=$form field="real-time-synchronization" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[real-time-synchronization]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help">{intl d='shopimind' l='Does the synchronization of your data have to be done in real time ?'}</div>
            </div>
        </div>

        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Generate nominative vouchers?'}</label>
            <div>
                {form_field form=$form field="nominative-reductions" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[nominative-reductions]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help">{intl d='shopimind' l='Must ShopiMind vouchers be associated with your customers\' accounts (this means that your customer must be logged in to use it) ?'}</div>
            </div>
        </div>

        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Vouchers can be combined with other codes ?'}</label>
            <div>
                {form_field form=$form field="cumulative-vouchers" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[cumulative-vouchers]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help">{intl d='shopimind' l='Should vouchers generated by ShopiMind be combined with other promotional codes ?'}</div>
            </div>
        </div>
        
        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Deactivate out-of-stock products ?'}</label>
            <div>
                {form_field form=$form field="out-of-stock-product-disabling" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[out-of-stock-product-disabling]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help">{intl d='shopimind' l='Would you like to define out-of-stock products as desactivated ?'}</div>
            </div>
        </div>

        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Activate the tag script of Shopimind ?'}</label>
            <div>
                {form_field form=$form field="script-tag" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[script-tag]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help"></div>
            </div>
        </div>
        
        <div class="check-box-form">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Activate logs ?'}</label>
            <div>
                {form_field form=$form field="log" class="switch"}
                    <label class="switch">
                        <input type="checkbox" name="shopimind_form_shopimind_form[log]" {if $data == 1}checked{/if} value="1">
                        <span class="slider"></span>
                    </label>
                {/form_field}
                <div class="help">{intl d='shopimind' l='Enabling logs allows for the recording of system or application events, providing a record that can be used for troubleshooting.'}</div>
            </div>
        </div>

        <div class="form-group" style="align-items: baseline;">
            <label class="form-label"><span>* </span> {intl d='shopimind' l='Confirmed order statuses'}</label>
            <div class="multi-select-container">
                {form_field form=$form field="confirmed-statuses"}
                    <select multiple name="{$name}[]" id="confirmed-statuses" multiple="multiple" class="form-control select2">
                        {foreach $choices as $choice}
                            <option value="{$choice->value}" {if $choice->value|in_array:$data}selected{/if}>{$choice->label}</option>
                        {/foreach}
                    </select>
                {/form_field}
                <div class="help" style="margin-top: 11px;">{intl d='shopimind' l='Select order statuses to be considered as confirmed'}</div>
            </div>
        </div>

        <div class="submit-container">
            <input type="submit" class="form-submit-button btn btn-sm btn-success" value="{intl d='shopimind' l='Validate'}">
        </div>

    </form>
    {/form}
</div>
<div id="Tab2" class="tabcontent log">
    {form_field form=$form field="logView"}
        <div class="">{intl d='shopimind' l=$value}</div>
    {/form_field}
</div>

<style>
    .shopimind-form h1{
        margin-bottom: 30px;
    }

    .shopimind-form .msg {
        font-size: 18px;
        padding: 14px 20px;
        color: #5e5a5a;
        margin-bottom: 10px;
        height: fit-content;
    }

    .shopimind-form .msg.successMsg {
        background: #08ea0842;
    }

    .shopimind-form .msg.errorMsg {
        background: #ff000045;
    }

    .shopimind-form .check-box-form{
        display: flex;
        flex-direction: row;
    }

    .shopimind-form .check-box-form > div{
        display: block;
        width: 50%;
    }

    .shopimind-form .check-box-form > label{
        margin-top: 8px;
    }

    .form-label{
        width: 50%;
        text-align: right;
        padding: 0 20px;
    }
    .form-label span{
        color: red;
    }

    .help{
        margin-left: 10px;
        font-style: italic;
        color: #aba8a8;
    }

    .shopimind-form .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        transform: scale(0.8);
    }

    .shopimind-form .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .shopimind-form .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #cfcbcb;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .shopimind-form .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    .shopimind-form input:checked+.slider {
        background-color: #39a525ab;
    }

    .shopimind-form input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .form-group {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
    }

    .check-box-form{
        margin-bottom: 25px;
    }

    .form-group input{
        width: 50%;
    }

    .submit-container{
        display: flex;
        justify-content: end;
    }

    .tabcontent{
        display: none;
    }
    .tabcontent.active{
        display: block;
    }
    .log{
        background: white;
        height: 600px;
        overflow: auto;
    }

    .select2-container {
        width: 50% !important;
    }
    
    .select2-selection--multiple {
        min-height: 34px;
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    
    .checkbox-group label {
        display: block;
        margin-right: 15px;
        margin-bottom: 10px;
        font-weight: normal;
        width: auto;
        text-align: left;
        padding: 0;
    }
    
    .checkbox-group input[type="checkbox"] {
        margin-right: 5px;
    }

    .multi-select-container{
        width: 50%;
    }

    .select2-container--default .select2-selection--multiple{
        border-color: #e6e6e6 !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected]{
        background-color: #e6e6e6 !important;
        color: black !important;
    }

    .select2-container--default .select2-results__option[aria-selected=true]{
        background-color: #39a52545 !important;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        color: #000000bd !important;
        background-color: #39a52545 !important;
        border: none !important;
        padding: 7px 16px !important;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    jQuery(document).ready(function($) {
        if ($.fn.select2) {
            $('#confirmed-statuses').select2({
                placeholder: "{intl d='shopimind' l='Select order statuses to be considered as confirmed'}",
                placeholder: "Select order statuses to be considered as confirmed",
                allowClear: true,
                multiple: true,
                closeOnSelect: false
            });
        }
    });
</script>