<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="shopimind.hook.config">
            <tag name="hook.event_listener" event="module.configuration" type="back" templates="render:module_configuration.html" />
        </hook>
        <hook id="shopimind.hook.tagFooter" class="Shopimind\Hook\ShopimindHook">
            <tag name="hook.event_listener" event="main.content-bottom" method="addScriptTagFooter" type="front"/>
        </hook>
    </hooks>

</config>
